/*  ADD your styles below --- WHERE INDICATED ---
    Keep all the comments I have provided.
    Where I have commented "keep," DO NOT touch that line!
    */

body {
    background: #9faf83; /* must change */
    color: #000; /* may be #000 or #fff */
    font-family: Calibri, Arial, sans-serif; /* keep */
}

article {
    background: #DACDCD;
    width: 800px; /* keep */
    padding: 20px; /* keep */
    margin: auto; /* keep */
}

/* --- ADD YOUR STYLES BELOW --- */
header, footer {
    background: #D4D9C9;
}

aside {
    background: #9faf83;
}

figure {
    background: #c5b1b1;
}
/* --- add your PSEUDO CLASSES below this line --- */
a:link {
    color: #345200;
}
a:visited {
    color: #81096d;
}
a:focus {
    color: #520240;
    text-decoration: none;
}
a:hover {
    color: #1d2e01;
    text-decoration: none;
}
a:active {
    color: #792138;
}