/*  ADD your styles below --- WHERE INDICATED ---
    Keep all the comments I have provided.
    Where I have commented "keep," DO NOT touch that line!
    */

body {
    background: #66858d;
    /* must change */
    color: #000;
    /* may be #000 or #fff */
    font-family: Calibri, Arial, sans-serif;
    /* keep */
}

article {
    background: #8ba2a8;
    width: 800px;
    /* keep */
    padding: 20px;
    /* keep */
    margin: auto;
    /* keep */
    border: 1px solid;
    /* can delete or change */
}

/* --- ADD YOUR STYLES BELOW --- */

aside {
    background: #66858d;
}

figure {
    background: #b9dbef;
}

header {
    background: #5d97b9;
}

footer {
    background: #5d97b9;
}

/* --- add your PSEUDO CLASSES below this line --- */

a:link {
    color: #593a61
}

a:visited {
    color: #952932
}

a:focus {
    color: #e38664
}

a:hover {
    color: #53656f
}

a:active {
    color: #65868a
}

