/*  ADD your styles below --- WHERE INDICATED ---
    Keep all the comments I have provided.
    Where I have commented "keep," DO NOT touch that line!
    */

body {
    background: #6A5ACD; /* must change */
    color: #fff; /* may be #000 or #fff */
    font-family: Calibri, Arial, sans-serif; /* keep */
}

article {
    width: 800px; /* keep */
    padding: 20px; /* keep */
    margin: auto; /* keep */
    border: 1px solid; /* can delete or change */
}


/* --- ADD YOUR STYLES BELOW --- */

header {
    background: #d6b4fc;
    color: #000;
}

footer {
    background: #d6b4fc;
    color: #000;
}

article {
    background: #702963;
}

aside {
    background: #E3CCF0;
    color: #000
}

figure {
    background: #CCCCFF;
    color: #000;
}

/* --- add your PSEUDO CLASSES below this line --- */

a:link {
    color: #500066;
}
a:visited {
    color: #063A6A;
}
a:focus {
    color: #7339AC;
}
a:hover {
    color: #70008F;
}
a:active {
    color: #66023C;
}